*{
    margin: 0;
}

html{
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}
/* fim do html  */

header{
    background-color: #000000;
    color: #fff;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;

    
}

header .container{
    max-width: 800px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    
}
  
header a {
    color: #fff;
    text-decoration: none;
}

.nav-header{
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;

}

/* fim do header */

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

footer  ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer  li {
	display: inline-block;
	margin: 0 10px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

.hum{
    display: flex;
    
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plan {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plan h2 {
    margin-top: 0;
}
.plan ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.plan li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.plan li:last-child {
    border-bottom: none;
}
.plan .price {
    font-size: 24px;
    font-weight: bold;
    color: #337ab7;
}
.plan .button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.plan .button:hover {
    background-color: #23527c;
}